#container {
    width: 88vw;
    margin: 4rem auto 2rem auto;
}

@media #{$breakpoint} {
    #container {
        width: 80vw;
        max-width: 1440px;
        @include flexbox(row, space-between);
    }
}